img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    width: auto;
    border-radius: 10%;

}

.resume {
    all: initial;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/*.ttf');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
