name: Rust
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  clippy:
    name: Clippy
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Clippy
        run: |
          bazel --bazelrc=.bazelrc.ci build clippy
  harbor-image-x86_64:
    name: Build JDH Image - x86_64
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [clippy]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Build
        run: |
          bazel --bazelrc=.bazelrc.ci build jaydanhoward_image
  harbor-image-arm64:
    name: Build JDH Image - Arm64
    runs-on: arc-runner-set-arm-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [clippy]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Build
        run: |
          bazel --bazelrc=.bazelrc.ci build jaydanhoward_image
  harbor-image-index:
    if: github.event_name == 'push'
    needs: [harbor-image-arm64, harbor-image-x86_64]
    name: Push JDH Multi-arch Image 
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
     - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Push
        run: |
          bazel --bazelrc=.bazelrc.ci run jaydanhoward_image_push

  harbor-ligthouse-image:
    if: github.event_name == 'push'
    name: Build lighthouse image
    runs-on: arc-runner-set
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [clippy]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: BuildAndPushImageOnHarbor
        run: "docker build -t harbor.home.local/library/lighthouse:latest .\ndocker push harbor.home.local/library/lighthouse:latest \n"
        working-directory: lighthouse
