name: Rust
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  security-audit:
    name: Security Audit
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run security audit
        run: |
          bazel --bazelrc=.bazelrc.ci test //:security_audit
  clippy:
    name: Clippy
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Clippy
        run: |
          bazel --bazelrc=.bazelrc.ci build clippy
  harbor-image-x86_64:
    name: Build JDH Image - x86_64
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [clippy, security-audit]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Build
        run: |
          bazel --bazelrc=.bazelrc.ci build jaydanhoward_image_amd64
  harbor-image-x86_64-push:
    if: github.event_name == 'push'
    name: Push JDH Image - x86_64
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [harbor-image-x86_64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Push
        run: |
          bazel --bazelrc=.bazelrc.ci run jaydanhoward_image_amd64_push
  harbor-image-arm64:
    needs: [clippy, security-audit]
    name: Build JDH Image - arm64
    runs-on: arc-runner-set-arm-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Build
        run: |
          bazel --bazelrc=.bazelrc.ci build jaydanhoward_image_arm64
  harbor-image-arm64-push:
    if: github.event_name == 'push'
    needs: [harbor-image-arm64]
    name: Push JDH Image - arm64
    runs-on: arc-runner-set-arm-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Bazel Push
        run: |
          bazel --bazelrc=.bazelrc.ci run jaydanhoward_image_arm64_push
  harbor-manifest:
    if: github.event_name == 'push'
    name: Push Multi-Arch Manifest
    runs-on: arc-runner-set-k8s
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [harbor-image-x86_64-push, harbor-image-arm64-push]
    steps:
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Create and Push Multi-Arch Manifest
        run: |
          docker manifest create harbor.home.local/library/jaydanhoward:latest \
            --amend harbor.home.local/library/jaydanhoward:latest-amd64 \
            --amend harbor.home.local/library/jaydanhoward:latest-arm64
          docker manifest push harbor.home.local/library/jaydanhoward:latest
  harbor-lighthouse-image:
    name: Build Lighthouse Image
    runs-on: arc-runner-set
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [clippy, security-audit]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Pull QEMU image manually
        run: docker pull tonistiigi/binfmt:latest
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Build Image
        run: docker build -t harbor.home.local/library/lighthouse:latest .
        working-directory: lighthouse
  harbor-lighthouse-image-push:
    if: github.event_name == 'push'
    name: Push Lighthouse Image
    runs-on: arc-runner-set
    container: ${{ vars.RUNNER_IMAGE_URL }}
    needs: [harbor-lighthouse-image]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Pull QEMU image manually
        run: docker pull tonistiigi/binfmt:latest
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: harbor.home.local
          username: ${{ secrets.HARBOR_USER}}
          password: ${{ secrets.HARBOR_TOKEN}}
      - name: Build Image
        run: docker build -t harbor.home.local/library/lighthouse:latest .
        working-directory: lighthouse
      - name: Push Image
        run: docker push harbor.home.local/library/lighthouse:latest
        working-directory: lighthouse
